{:name "Work"
 :root "../modules"
 :dot "../dot"
 :os :os/mac
 :modules #{:editor/neovim
            :lang/clojure
            :lang/clojure/clj-kondo
            :lang/clojure/lein
            :lang/rust
            :tools/direnv
            :tools/git}}
